{% extends 'BeluhaBlogBundle::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@BeluhaSecurityBundle/Resources/public/css/login.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block title %}Beluha::admin::login{% endblock %}
{% block quote %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block child %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="loginmodal-container">
    <h1>Ты уверен, что тебя здесь ждут?</h1><br>
    <form action="{{ path('login_check') }}" method="post" class="">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Ваш логин" />
                <input type="password" id="password" name="_password" placeholder="Пароль" />
                <button type="submit" class="login loginmodal-submit">Вход</button>
        </form>
    </div>

{% endblock %}
