Beluha_Blog_quote:
    resource: "@BeluhaBlogBundle/Controller/QuoteController.php"
    type:     annotation

Beluha_Blog_author_quote:
    resource: "@BeluhaBlogBundle/Controller/AuthorQuoteController.php"
    type:     annotation

Beluha_Blog:
    resource: "@BeluhaBlogBundle/Resources/config/routing.yml"
    prefix:   /beluha
    
app:
    resource: "@BeluhaAppBundle/Controller/"
    type:     annotation
login:
    path:   /login
    defaults:  { _controller: BeluhaSecurityBundle:Security:login }
login_check:
    path:   /login_check
    defaults:  { _controller: BeluhaSecurityBundle:Security:login_check }
registration:
    path: /registration
    defaults:  { _controller: BeluhaSecurityBundle:Security:registration }
logout:
    path: /logout
static_page:
    path: /about
    defaults:
        _controller: FrameworkBundle:Template:template
        template: 'BeluhaAppBundle:Static:about.html.twig'
gregwar_captcha_routing:
    resource: "@GregwarCaptchaBundle/Resources/config/routing/routing.yml"